.carousel{
	&__page-part{
		background: $colorBlack;
	}

	&__pages {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		max-width:1145px;
		margin: auto;

			& img {
				margin: 24px 0;
			}

			& .active{
				opacity: 0.9;
				border:2px solid $colorMainGreen;
			}

			a {
				opacity: 0.6;
			}
	}
}

@media screen and (max-width: 768px){
	.carousel__page-part{
		display: none;
	}
}


//change bx-carousel style
.bx-wrapper {
	margin: 0;
	border:none;

	& img {
		width: 100%;
	}
}

.bx-wrapper .bx-controls-direction a {    
     z-index: 1;
}