.navigation{

	&__item{		
		color: $colorWhite;
		font-size: 18px;
		font-weight: 600;
		text-transform: uppercase;
		list-style: none;
		width: 150px;
		display: inline-flex;
		height: 100px;
		align-items: center;
		justify-content: center;
	}

}

/*
@media  screen and (max-width:980px) {
	.navigation {display:none;}
}*/

@media  screen and (max-width:980px) {
	nav {flex:100%};
	.navigation {width:100%;
		flex:1}

	.navigation__item {
		width: 100%;
		border-bottom: 1px solid #2f2f2f;
		height: 75px;
	}
	

}