.page-footer{
	width:100%;
	background: $colorMainGreen;
	padding:25px 0;

	&__container{
		max-width:1145px;
		margin: auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	&__copyrigth{
		color:$colorWhite;		
	}	

	&__company-name{
		text-decoration: none;
		color:$colorWhite;
	}
	
}