.sale{
	
	&__title-container {
		max-width:1145px;
		margin:auto;
		height: 181px;
		border-top:1px solid $colorlightGrey;
		margin-top:57px; 		
	}

	&__container{
		max-width:1145px;
		display: flex;
		flex-wrap: wrap; 
		margin:auto;
		align-content:space-between;
	}
}