.service{
	position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
	text-align:center;	
	margin: 15px;
	flex-basis:262px;
	padding-bottom:40px;

	&:before {
	  content: '';
	  position: absolute;
	  border: rgba(127,222,167,0.5) solid 2px;
	  top: -26px;
	  right: -26px;
	  bottom: -26px;
	  left: -26px;
	  opacity: 0;
	  -webkit-transition-duration: .3s;
	  transition-duration: .3s;
	  -webkit-transition-property: top, right, bottom, left;
	  transition-property: top, right, bottom, left;
	}

	&:hover:before {
		  top: -8px;
		  right: -8px;
		  bottom: -8px;
		  left: -8px;
		  opacity: 1;
		}	

	&__title {
		color:$colorDarkGrey;
		line-height: 47px;
	}
	
	&__description{
		line-height: 21px;
		margin-top:3px; 
	}
	
}

.service-container {
	display:inline-flex;
	flex-wrap:nowrap;
	justify-content:center;
	width:100%;
	padding-top:40px; 
}

@media screen and (max-width:980px) {
	.service-container {	
	flex-wrap:wrap;	
	}
	.service{
		flex-grow:1;
		flex-basis:42%
	}
}

@media screen and (max-width:786px) {	
	.service{
		flex-basis:100%
	}
}

