//main font
$globalFontFamily:'Open Sans';

//colors
$colorlightGrey:#838383; //color for text-content
$colorDarkGrey:#444444;//color for titles
$colorWhite:#ffffff;
$colorBlack:#161616;//color for header-background
$colorMainGreen:#26b864;
